<!DOCTYPE html>
<html>
<head>
	<title>Stock Rating App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/public/app.css">
	<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
</head>
<body>
<div class = "site-nav">
	<div class = "nav-heading">
		<h1 id = "title"><i class = "chart line icon large"></i>Stock Rating App </h1>
	</div>
	<div class = "nav-heading right">
		<a class = "ui  inverted primary button huge " href="<%= BtnKeys[url][1] %>">
			<%= BtnKeys[url][0] %>
		</a>
		<a class = "ui inverted green button huge " href="<%= BtnKeys[url][3] %>">
			<%= BtnKeys[url][2] %>
		</a>
	</div>
</div>


