

#footer {
	position: fixed;
    bottom: 0;
    width: 100%;
}


.site-nav {
	background-color: black;
}

.nav-heading {
	color: white;
	display: inline-block;
	padding: 1%;
}

.right {
	float: right;
}

#title {

}

i ,li {
	display: inline-block !important;
}

.rating_item {
	display: inline-block;
}

